#addAdmin {
  width: 80%;
  margin: auto;
}

#addAdmin .form-group {
  margin-top: 3%;
}

h2{
  margin-top: 5%;
}

#addAdmin .submit {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#addAdmin .btn{
  width: 100%;
  background: #656C9A !important;
  border-color: #656C9A !important;
}
