<div class="start-page">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <hr>
  <br>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-3 d-flex justify-content-center">



        <div class="col" *ngFor="let client of clientAll">
            <div class="card text-bg-primary mb-3" style="max-width: 25rem; background-color: {{ client.agency.color }}!important;">
                <div class="card-header d-flex">
                    <img src="{{ client.agency.path }}" alt="" width="32" height="32" class="rounded-circle me-2 imgClientListe">
                    <h5 class="titleClientListe">{{ client.agency.name }}</h5>
                    <p class="ms-auto btn-secondary btn etatClientListe">{{ client.state }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ client.firstName }} {{ client.lastName }}</h5>
                    <p><i class="fa-solid fa-phone"></i> {{ client.phone }}</p>
                    <p><i class="fa-solid fa-envelope"></i> {{ client.email }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

