<div class="start-page">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <hr>
  <br>
</div>


<div id="client" class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-3 d-flex justify-content-center">



        <div class="col" *ngFor="let client of clientAll">
            <div class="card mb-3" style="margin: auto; max-width: 25rem; background-color: {{ client.agency.color }}!important;">
                <div class="card-header d-flex">
                    <img src="{{ client.agency.path }}" alt="" width="32" height="32" class="rounded-circle me-2 imgClientListe" style="margin-top: 4px">
                    <h5 class="titleClientListe" style="margin-bottom: unset; line-height: 1.6;">{{ client.agency.name }}</h5>
                    <p class="ms-auto btn-secondary btn etatClientListe" style="font-size: 14px; margin-bottom: unset;">{{ client.state }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ client.firstName }} {{ client.lastName }}</h3>
                    <p><i class="fa-solid fa-phone"></i> {{ client.phone }}</p>
                    <p><i class="fa-solid fa-envelope"></i> {{ client.email }}</p>


                    <div style="display: flex"><button routerLink="/client/{{ client.id }}" class="btn btn-primary">Plus d'information</button></div>
                </div>

            </div>
        </div>

    </div>
</div>

