#navbar {
    height: 100%;
}

#navbar .content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: white;
    background-color: black;
    padding: 5%;
    height: 100%;
}

#navbar ul {
    height: 80%;
    justify-content: space-evenly;
}

#navbar i {
    margin-right: 5%;
}

#navbar ul a:focus {
    background-color: blue ;
}