<div class="start-page">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <hr>
  <br>
</div>

<ng-container *ngFor="let licence of licenceAll">
  <ng-container *ngIf="licence.content == 'users'">
    <h3 style="text-align: center">Licence disponible : {{ licence.nb }} / {{ userAll.length + licence.nb }}</h3>
  </ng-container>
</ng-container>

<div class="container">

  <div class="container-onglets">
    <div class="onglets active">Administrateur</div>
    <div class="onglets">Techniciens</div>
  </div>

  <div class="contenu active-contenu">
      <app-add-admin></app-add-admin>
  </div>

  <div class="contenu">
    <app-add-technicien></app-add-technicien>
  </div>

</div>
