#addSectionAgence .row{
  --bs-gutter-x: unset!important;
}

#addSectionAgence .left-ag {
  width: 55%;
  padding: 30px;
}

#addSectionAgence .right-ag {
  width: 45%;
  display: flex;
}
#addSectionAgence #pdfCreateAgence{
  width: 423px;
  height: 641px;
  flex-shrink: 0;
  padding: 10px;
  margin: auto;

  border: 1px solid #000;
  background: #FFF;
}
#addSectionAgence #pdfCreateAgence .entetepdf{
  margin-left: 10px;
}
#addSectionAgence #pdfCreateAgence .fact-table{
  border: solid 1px;
  padding: 5px 5px 35px 5px;
}

#addSectionAgence #pdfCreateAgence .fact-table table{
  width: 100%;
  text-align: center;
}

#addSectionAgence #pdfCreateAgence .fact-table table th:first-child{
  text-align: start;
}

#addSectionAgence #pdfCreateAgence .fact-table table td:first-child{
  text-align: start;
}

#addSectionAgence #pdfCreateAgence .fact-table-last table{
  border: solid 1px;
  width: 50%;
  text-align: end;
  transform: translate(58px,18px);
}

#addSectionAgence #pdfCreateAgence small{
  width: 100%;
  text-align: center;
  font-size: 7px;
  margin-top: 60px;
}

#addSectionAgence .submit {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#addSectionAgence .btn{
  width: 100%;
  background: #656C9A !important;
  border-color: #656C9A !important;
}
