<section id="admin">
    <div class="btnAdd">
        <button type="button" class="btn btn-secondary" routerLink="addAdmin">Ajouter un admin</button>
        <button type="button" class="btn btn-secondary" routerLink="addTechnicien">Ajouter un technicien</button>
        <button type="button" class="btn btn-secondary" routerLink="addAgence">Ajouter une agence</button>
        <button type="button" class="btn btn-secondary" routerLink="addAgence">Ajouter un client</button>
    </div>
    
    <h2 class="text-center mt-3">Liste des techniciens</h2>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Profession</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PODER</td>
            <td>Elias</td>
            <td>Coiffeur</td>
          </tr>
          <tr>
            <td>NAILI</td>
            <td>Marilyne</td>
            <td>Designer</td>
          </tr>
          <tr>
            <td>TOURNIER</td>
            <td>Maxime</td>
            <td>Electricien</td>
          </tr>
          <tr>
            <td>PODER</td>
            <td>Elias</td>
            <td>Coiffeur</td>
          </tr>
          <tr>
            <td>NAILI</td>
            <td>Marilyne</td>
            <td>Designer</td>
          </tr>
          <tr>
            <td>TOURNIER</td>
            <td>Maxime</td>
            <td>Electricien</td>
          </tr>
          <tr>
            <td>PODER</td>
            <td>Elias</td>
            <td>Coiffeur</td>
          </tr>
          <tr>
            <td>NAILI</td>
            <td>Marilyne</td>
            <td>Designer</td>
          </tr>
          <tr>
            <td>TOURNIER</td>
            <td>Maxime</td>
            <td>Electricien</td>
          </tr>
        </tbody>
      </table>

</section>