<div class="start-page">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <hr>
  <br>
</div>

<section id="admin">
    <div class="btnAdd">
        <button type="button" class="btn btn-secondary" routerLink="addUser">Ajouter un User</button>
        <button type="button" class="btn btn-secondary" routerLink="addAgence">Ajouter une agence</button>
        <button type="button" class="btn btn-secondary" routerLink="/addClient">Ajouter un client</button>
    </div>

    <h2 class="text-center mt-3">Liste des Agences</h2>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Color</th>
            <th scope="col">Name</th>
            <th scope="col">Siret</th>
            <th scope="col">Tva</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agency of agencyAll">
            <td style="color: {{ agency.color }}"><i class="fa-solid fa-circle"></i></td>
            <td>{{ agency.name }}</td>
            <td>{{ agency.siret }}</td>
            <td>{{ agency.tva }}</td>
          </tr>
        </tbody>
      </table>

  <h2 class="text-center mt-3">Liste des Utilisateur
    <ng-container *ngFor="let licence of licenceAll">
      <ng-container *ngIf="licence.content == 'users'">
         ({{ userAll.length }} / {{ userAll.length + licence.nb }})
      </ng-container>
    </ng-container>
  </h2>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Permission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userAll">
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td *ngFor="let role of user.roles">
              <div *ngIf="role == 'ROLE_ADMIN'">Administrateur</div>
              <div *ngIf="role == 'ROLE_TECHNICIEN'">Techniciens</div>
            </td>
          </tr>
        </tbody>
      </table>

</section>
