.containerAgenda {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 48px auto;
  /*position: absolute;*/
}

.title {
  background: #214573;
  text-align: center;
  display: flex;
  place-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;/*
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
}

.days {
  background: #f3f2f1;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  position: sticky;
  top: 3em;
  z-index: 10;
  border-bottom: 2px solid #dadce0;
}

.day {
  border-left: 1px solid #dadce0;
}

.content {
  display: grid;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  grid-template-rows: repeat(24, 3em);
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  bottom: -1ex;
  color: #70757a;
  padding-right: 2px;
}

.col {
  border-right: 1px solid #dadce0;
  grid-row: 1/span 24;
  grid-column: span 1;
}

.filler-col {
  grid-row: 1/-1;
  grid-column: 2;
  border-right: 1px solid #dadce0;
}

.row {
  grid-column: 2/-1;
  border-bottom: 1px solid #dadce0;
  --bs-gutter-x: unset!important;
}

.weekend {
  background-color: #f1f3f4;
}

.current {
  font-weight: bold;
}

#CurrentTitle {
  margin-top: 11px;
}

.title .btn{
  margin-top: calc(calc(50px - 38px)/2);
}
