/* You can add global styles to this file, and also import other style files */
.start-page{
  text-align: center;
  padding: 30px 20px 0;
  /*background-color: #131313;*/
  color: black;
}

.start-page p {
  margin-bottom: 35px;
}

.start-page hr{
  background: rgb(47,47,47);
}
