<h2 class="text-center">Ajouter un technicien</h2>
<form id="addTechnicien">
    <div class="form-group">
      <label for="">Nom</label>
      <input type="email" class="form-control" id="" placeholder="naili">
    </div>
    <div class="form-group">
        <label for="">Prénom</label>
        <input type="email" class="form-control" id="" placeholder="marilyne">
      </div>
      <div class="form-group">
        <label for="">Adresse mail</label>
        <input type="email" class="form-control" id="" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Métiers
        </button>
        <ul class="dropdown-menu w-50">
          <li><a class="dropdown-item" href="#">Administration</a></li>
          <li><a class="dropdown-item" href="#">Agriculture</a></li>
          <li><a class="dropdown-item" href="#">Artisant</a></li>
          <li><a class="dropdown-item" href="#">Travaux publics</a></li>
        </ul>
      </div>
    <div class="form-group">
      <label for="">Informations complémentaires</label>
      <textarea class="form-control" id="" rows="3"></textarea>
    </div>
    <div class="submit">
        <button type="button" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
